@font-face {
	font-family:"Bebas Neue";
	src: url("../fonts/bebas-neue-regular.eot"); 
	src: url("../fonts/bebas-neue-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/bebas-neue-regular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/bebas-neue-regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/bebas-neue-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/bebas-neue-regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/bebas-neue-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}