.section__garancy {
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;
}

.section__garancy-container {
  border-radius: 2.4rem;
  background: var(--gradients, linear-gradient(119deg, #DEEFFF 0%, #F9FAFB 96.64%));
  max-width: 116rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1.5rem;
  -webkit-column-gap: 5.7rem;
     -moz-column-gap: 5.7rem;
          column-gap: 5.7rem;
}

.section__garancy-left {
  width: 100%;
  max-width: 56.2rem;
  height: 49rem;
}
.section__garancy-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section__garancy-right {
  width: 100%;
  max-width: 50%;
  padding: 5.6rem;
  padding-top: 6.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__garancy-right-title {
  color: var(--neutral-900, #111827);
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 46px */
}

.section__garancy-right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}

.section__garancy-right-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.7rem;
}

.section__garancy-right-row-item-title {
  color: var(--neutral-900, #111827);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 136%; /* 136% */
}

.section__garancy-right-row-item-text {
  color: var(--neutral-600, #4D5561);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
}

.section__garancy-right-text {
  margin-top: 2rem;
  color: var(--neutral-700, #384450);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
}
.section__garancy-right-text span {
  color: var(--primary-base, #30B5DF);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.section__garancy-right-text-bold {
  margin-top: 1.9rem;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
}