.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
}
.menu__icon{
    display: none;
}
.header__container {
    max-width: 116rem;
    padding: 2.5rem 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;

}
.header__logo {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.header__logo-img {
    flex: 0 0 14.6rem;
    height: 4.6rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
    }
}
.header__logo-text {
    width: 100%;
    max-width: 22.8rem;
    padding-left: 2rem;
    border-left: 0.05rem solid #4D5561;
    color: var(--neutral-600, #4D5561);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}
.header__nav {
    flex: 1 0 70.2rem;
    ul{
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        li{
            a{
                color: var(--neutral-700, #384450);
                font-size: 1.7rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--primary-500, #30B5DF);
                }
            }
        }
    }

}
.head__drop-inner{
    position: relative;
    display: block;
}
.head__drop{
   position: relative;
   padding-right: 2rem;
   transition: all 0.3s ease-in-out;
   span{
    position: relative;

    &:hover{
    
       
          
    
        &::after {

            width:100%;;
        }
    }
   }
   &:hover{
    color: var(--primary-500, #30B5DF);
    &::after{
        width: 0px!important;
    }
}

   &::before{
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 0.4rem;
    content: '';
    right: 0;
    width: 0.75rem;
    height:0.75rem;
    border-top: 0.2rem solid rgba(0, 0, 0, 1);
    border-right: 0.2rem solid rgba(0, 0, 0, 1);
    transform: rotate(135deg);
   }

}

.head__drop-active{
    &::before{
        border-top: 0.2rem solid #30B5DF;
        border-right: 0.2rem solid #30B5DF;
    }
 
 }

.drop__list {
    display: none;
    margin-top: 3rem;
    z-index: 6;
    min-width: 40rem;
    transition: all 0.4s ease-in-out;
    padding: 3rem 3.6rem 2.4rem 3.6rem;
    position: absolute;
    top: 0rem;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    left: 0rem;
    display: flex;
    flex-direction: column;
    background: var(--white, #FFF);
    border-radius: 1.6rem;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 4px 20px 0px rgba(123, 131, 138, 0.10);
    backdrop-filter: blur(34px);

}
.drop__list-active {
    opacity: 1;
    overflow: visible;
    visibility: visible;
    display: flex;

}
.drop__list-item{
    transition: all 0.3s ease-in-out;
    padding: 1.6rem 0rem;
    border-bottom: 0.1rem solid var(--neutral-300, #D1D6DB);
    display: flex;
    flex-direction: column;
    row-gap:1.2rem ;
    position: relative;
    &::after{
        transition: all 0.3s ease-in-out;
        right: 0;
        top: 1.3rem;
        position: absolute;
        content: '';
        width: 2.8rem;
        height: 2.8rem;
        transition: all 0.3s ease-in-out;
        background-image: url(../img/arrow-right-menu.svg);
        background-size: cover;
        opacity: 0;
    }
    &:last-child{
        border-bottom: 0.1rem solid var(--neutral-300, #d1d6db00);
    }
    &:hover{
        .drop__list-item-title {
            color: var(--neutral-900, #30B5DF);
        }
        .drop__list-item-subtitle {
            color: var(--neutral-500, #30B5DF);
        
        }
        &::after{
            opacity: 1;
        }
    }

}
.drop__list-item-title {
    transition: all 0.3s ease-in-out;
    color: var(--neutral-900, #111C27);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28px */  
}
.drop__list-item-title-star {
    position: relative;
    &::after{
        position: absolute;
        top: -1rem;
        right: 5rem;
        content: '';
        width: 2rem;
        height: 2rem;
        background-image: url(../img/star.svg);
        background-size: cover;

    }
}
.drop__list-item-subtitle {
        transition: all 0.3s ease-in-out;
    color: var(--neutral-500, #6B7680);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */

}
.item__with-place {

    display: block;
    position: relative!important;
    padding-right: 2.6rem;
    height: auto;
}
.item__with-place-text {
    transition: all 0.3s ease-in-out;
    &:hover{
        color: var(--primary-500, #30B5DF);
    }
    color: var(--neutral-700, #384450);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.item__with-place-place {
    position: absolute;
    top: -1.8rem;
    right: 0rem;
    color: var(--gray-50, #FAFAFA);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 163.636% */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    border-radius: 2.4rem;
    background: var(--primary-500, #30B5DF);

}
.header__mobile-block {
    display: none;
}
@media(max-width:992px){
    .menu__icon{
        display: block;
        cursor: pointer;
        position: relative;
        height: 1.5rem;
        width: 2rem;
      }
      .menu__icon-text{
        transition: all 0.3s ease 0s;
        position: absolute;
        left: -5.5rem;
        top: 0.1rem;
        color: #30B5DF; 
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 18px */
        letter-spacing: -0.03rem;
      }
      .menu__icon span{
        position: absolute;
        background-color: rgba(48, 181, 223, 1);
        left: 0;
        width: 100%;
        height: 0.2rem;
        top: 0.7rem;
        transition: all 0.3s ease 0s;
        border-radius: 0.5rem;
      }
      .menu__icon::after,
      .menu__icon::before{
        content:"";
        background-color: rgba(48, 181, 223, 1);
        position: absolute;
        width: 100%;
        left: 0;
        height: 0.2rem;
        transition: all 0.3s ease 0s;
        border-radius: 0.5rem;
      
      }
      
      .menu__icon::before{
        top: 0;
      }
      .menu__icon::after{
        bottom: 0;
      }

      .header__nav {
        overflow: scroll;
        position:fixed;
        top: 0;
        left: -150%;
        width: 100%;
        max-width: none;
        height: 100%;
        z-index: 2;
        margin-top: 5.6rem;
        padding: 0rem 1.5rem;
        padding-right: 2rem;
        transition: all 0.4s ease 0s;
        background-color: #fff;
        backdrop-filter: blur(0.9rem); // This be the blur

            ul{
                flex-direction: column;
                justify-content: flex-start;
                li{ 
                    padding: 2.4rem 0em;
                    width: 100%;
                    position: relative;
                    border-bottom: 0.05rem solid var(--neutral-300, #D1D6DB);
                    &::before{
                        position: absolute;
                        transition: all 0.3s ease-in-out;
                        top: 45%;
                        content: '';
                        right: 0;
                        width: 0.75rem;
                        height:0.75rem;
                        border-top: 0.2rem solid rgba(0, 0, 0, 1);
                        border-right: 0.2rem solid rgba(0, 0, 0, 1);
                        transform: rotate(45deg);
                       }

                    a{
                        color: var(--neutral-800, #1F2B37);
                        font-family: 'Raleway';
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.2px;
                    }
            }

            
        }
      } 
      ._active{
        .menu__icon-text{
            opacity: 0;
        }
        &::after,
        &::before{
    
            background-color: rgba(48, 181, 223, 1);
           }
        }  
        .menu__icon{
          display: block;
        }
      ._active::before{
          transform: rotate(45deg);
          top: 0.4rem;
          }
          ._active::after{
            transform: rotate(-45deg);
            bottom: 0.9rem;
          }
          ._active span{
            transform: scale(0);
          }   
          
          ._actived{
            left: 0%;
          } 
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
    }
    .header__container {
        max-width: 116rem;
        padding: 0.7rem 1.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1.5rem;
    
    }
    .header__logo {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
    .header__logo-img {
        flex: 0 0 13.3rem;
        height: 4.2rem;
    }
    .header__logo-text {
        display: none;
    }
  
   
    
    .head__drop{
        &::before{
         display: none;
     
        }
     
     }
    
    .head__drop-active{
        &::before{
         transform: rotate(315deg);
         top: 0.8rem;
     
        }
     
     }
     .drop__list {
        display: none;
    
    }
    .drop__list-active {
        max-height: 100rem;
        row-gap: 1.6rem;
        padding: 1.6rem 0rem 0rem 0rem;
        top: 0;
        opacity: 1;
        overflow: visible;
        visibility: visible;
    
    }
    
    
    .drop__list-item {
        font-size: 1.6rem;
    
    
    }
    .item__with-place {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative!important;
        padding-right: 2.6rem;
        height: auto;
        column-gap: 0.9rem;
    }
    .item__with-place-text {
        color: var(--neutral-800, #1F2B37);
        font-family: 'Raleway';
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.2px;
    }
    .item__with-place-place {
        position: relative;
        top: 0rem;
        right: 0rem;
    
    }
    .header__mobile-block {
        margin-top: 4rem;
        display: flex;
        width: 100%;
        column-gap: 3.2rem;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3.2rem ;
    }
    .header__mobile-block-left {
        display: flex;
        flex-direction: column;
        row-gap: 2.3rem;
    }
    .header__mobile-block-left-socials {
        display: flex;
        column-gap: 0.9rem;
    }
    .header__mobile-block-left-social {
        width: 3.6rem;
        height: 3.6rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .header__mobile-block-left-info {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;

    }
    .header__mobile-block-left-info-item {
        color: var(--neutral-900, #111C27);
        font-variant-numeric: lining-nums proportional-nums;
        font-family:'Raleway';
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 16px */
        letter-spacing: 0.032rem;
    }
    .header__mobile-block-right {
        display: flex;
        flex-direction: column;
    }
    .header__mobile-block-right-tel {
        color: var(--neutral-700, #384450);
        font-variant-numeric: lining-nums proportional-nums;
        font-family:'Raleway';
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 24px */
        
    }
    .header__mobile-block-right-cons {
        color: var(--neutral-700, #384450);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: 'Raleway';
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        text-decoration-line: underline;
    }
}