.section__offer {
    .section__visit-left-form {
        display: flex;
        flex-direction: column;
    }
    .section__visit-left-form-top {
        display: flex;
        column-gap: 1.8rem ;
    } 
    .section__visit-left-input {
       
    }
    .button {
    }
    .custom__chexbox-inner{
        margin-top: 1.6rem;
        column-gap: 0rem;
        .custom-chexbox{
            padding-left: 0rem!important;
        }
    }

    .custom-checkbox label:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        border-radius: 0.3333rem;
        border: 0.0833rem solid var(--neutral-700, #384150);
        background-color: #ffffff00;
        top: -1.4rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    
    
}
.section__offer-container {
    padding: 4.6rem 1.5rem;
    max-width: 116rem;
    margin: 0 auto;
}
.section__offer-title {
    color: var(--neutral-900, #111C27);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 46px */
}

.section__offer-slide {
    display: flex;
    min-height: 37.7rem;
    border-radius: 2.4rem;
    background: var(--gradients, linear-gradient(119deg, #DEEFFF 0%, #F9FAFB 96.64%));
}
.section__offer-slide-left {
    width: 100%;
    max-width: 56.6rem;
    display: flex;
    flex-direction: column;

    padding: 3.2rem 5.6rem;

}
.section__offer-slide-left-category {
    color: var(--neutral-white, #FFF);
    align-self: flex-start;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 141%; /* 19.74px */
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    background: rgba(17, 24, 39, 0.60);
    backdrop-filter: blur(1.2rem);
}
.section__offer-slide-left-title {
    color: var(--neutral-900, #111C27);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 40px */
    margin-top: 1.9rem;
    max-width: 39rem;
}
.section__offer-slide-left-subtitle {
    color: #1F2B37;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 141.176% */
}

.section__offer-slide-img {
    width: 100%;
    max-width: 56.4rem;
    height: 100%;
    
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}
.section__comand-tab-content-row {
}

.section__offer-slide-img-mob{
    display:none;
}
@media(max-width:992px){
    .section__offer {
        .section__visit-left-form {
            display: flex;
            flex-direction: column;
        }
        .section__visit-left-form-top {
            display: flex;
            column-gap: 1.8rem ;
        } 

        .custom__chexbox-inner{
            margin-top: 1.6rem;
            column-gap: 0rem;
            .custom-chexbox{
                padding-left: 0rem!important;
            }
        }
    
        .custom-checkbox label:before {
            top: -1.4rem;
          }
        
        
    }
    .section__offer-container {
        padding: 4rem 1.5rem;
    }
    .section__offer-title {
        font-size: 3.2rem;
    }
    
    .section__offer-slide {
        display: flex;
        min-height: 37.7rem;
        justify-content: space-between;
        align-items: center ;
    }
    .section__offer-slide-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 48.1rem;
        padding: 3.2rem 5rem;
        padding-right: 0rem;
    
    }
    .section__offer-slide-left-category {
        font-size: 1.4rem;
    }
    .section__offer-slide-left-title {
        font-size: 3.2rem;
        margin-top: 1.9rem;
        max-width: 39rem;
    }
    .section__offer-slide-left-subtitle {
        font-size: 1.7rem;
    }
    
    .section__offer-slide-img {
        display: none;
   
    }
    .section__offer-slide-img-mob{
        display: block;
        max-width: 24.6rem;
        height: 30.1rem;
    }
    .section__comand-tab-content-row {
    }
    
}
.section__offer-slide-img-mob-left{
    display: none;
}
@media(max-width:576px){
    .section__offer {
        .section__visit-left-form {
            display: flex;
            flex-direction: column;
            margin-top: 0rem;
        }
        .section__visit-left-form-top {
            display: flex;
            column-gap: 1.8rem ;
            flex-direction: column;
            row-gap: 0.8rem;
        } 
        .section__visit-left-input{
            text-align: center;
            padding: 1.8rem;
        }

        .custom__chexbox-inner{
            display: none;
        }
    
       
        
    }
    .section__offer-container {
        padding: 4rem 1.5rem;
    }
    .section__offer-title {
        font-size: 2.4rem;
    }
    
    .section__offer-slide {
        display: flex;
        min-height: 0rem;
        justify-content: space-between;
        align-items: center ;
        padding: 2.4rem;
    }
    .section__offer-slide-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: nnone;
        padding: 0rem;
        padding-right: 0rem;
    
    }

    .section__offer-slide-left-category {
        font-size: 1.4rem;
    }
    .section__offer-slide-left-title {
        font-size: 2rem;
        margin-top: 1.1rem;
        max-width: none;
    }
    .section__offer-slide-left-subtitle {
        font-size: 1.7rem;
        margin-top: 1.9rem;
    }
    

    .section__offer-slide-img-mob{
        display: none;
    }
    .section__offer-slide-img-mob-left{
        display: block;
        max-width: 17rem;
        height: 20.6rem;
        align-self: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .section__comand-tab-content-row {
    }
    
}

.section__offer-usl{
    overflow-y: visible;
}

.section__offer-uslugi-inner {
    overflow: visible;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    .section__offer-slide {
        .custom__chexbox-inner{
            align-items: flex-start;
        }
        height: 46rem;
        width: 100%;
        padding: 0rem;
        padding-left: 7.7rem;
        justify-content: space-between;
        align-items: center;
        background: var(--gradients, linear-gradient(119deg, #DEEFFF 0%, #F9FAFB 96.64%));
    }
    .section__offer-slide-calc {
        overflow: hidden;
        .button {
            margin-top: 3rem;
            align-self: flex-start;
        }
        .section__offer-slide-left {
            width: 100%;
            max-width: 40rem;
    
        }
        .section__offer-slide-img {
            width: 100%;
            max-width: 36rem;
            height:37.7rem;
            transform: rotate(3.014deg);
            right: -0.6662rem;
            bottom: -4.3204rem;
            
        }
        .section__offer-slide-left-title {
            max-width: none;
            font-size: 2.6rem;
        }
    }
    .section__offer-slide-left {
        width: 100%;
        padding: 0px;
        max-width: 49rem;


    }
    .section__offer-slide-left-title {
        max-width: none;
        font-size: 3.2rem;
    }
    .section__offer-slide-left-subtitle {
        margin-top: 2rem;
    }

    .section__offer-slide-img {
        width: 100%;
        max-width: 56.3rem;
        height: 49.4rem;
        position: relative;
        right: 0;
        bottom: 2rem;
    }
  
    .section__offer-slide-left-title-small {
        color: var(--neutral-900, #111C27);
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 31.2px */
    }
}


@media(max-width:992px){
    
    .section__offer-uslugi-inner {
        overflow: visible;
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
        .section__offer-slide {
            position: relative;
            .custom__chexbox-inner{
                align-items: flex-start;
            }
            height: 36rem;
            width: 100%;
            padding-left: 3.2rem;
        }
        .section__offer-slide-calc {
            overflow: hidden;
            .button {
                margin-top: 3rem;
                align-self: flex-start;
            }
            .section__offer-slide-left {
                width: 100%;
                max-width: 39rem;
        
            }
            .section__offer-slide-img {
                width: 100%;
                max-width: 22.8rem;
                height:24rem;
                position: relative;
                transform: rotate(3.014deg);
                right: 0rem;
                bottom: -6.3204rem;
                
            }
            .section__offer-slide-left-title {
                max-width: none;
                font-size: 2.6rem;
            }
        }
        .section__offer-slide-left {
            width: 100%;
            padding: 0px;
            max-width: 49rem;
    
    
        }
        .section__offer-slide-left-title {
            font-size: 3.2rem;
        }
        .section__offer-slide-left-subtitle {
            margin-top: 1.6rem;
        }
    
        .section__offer-slide-img {
            display: block;
            max-width: 30.1rem;
            position: absolute;
            height: 36.9rem;;
            right: 0;
            bottom: 0rem;
        }
      
        .section__offer-slide-left-title-small {
            color: var(--neutral-900, #111C27);
            font-size: 2.6rem;
        }
    }
    
}

@media(max-width:750px){
    .section__offer-uslugi-inner {
        
    
        .section__offer-slide-img {
            position: relative;
        }
      
        
    }
}
.section__offer-slide-img-mob{
    display: none;
}
@media(max-width:576px){
    
    .section__offer-uslugi-inner {
        overflow: visible;
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
        .section__offer-slide {
            position: relative;
            flex-direction: column-reverse;
            align-items: center;
            .custom__chexbox-inner{
                align-items: flex-start;
            }
            height: auto;
            width: 100%;
            padding-left: 0rem;
        }
        .section__offer-slide-calc {
            overflow: hidden;
            .button {
                margin-top: 2rem;
                align-self: center;
                max-width: none;
                width: 100%;
                text-align: center;
            }
            .section__offer-slide-left {
                width: 100%;
                max-width: none;
                padding: 2.4rem;

        
            }
            .section__offer-slide-img {
                display: none;
                width: 100%;
                max-width: 22.9rem;
                margin-top: 5.6rem;
                height:24rem;
                position: relative;
                right:auto;
                bottom: auto;
                
            }
            .section__offer-slide-img-mob{
                display: block;
            }
            .section__offer-slide-left-title {
                max-width: none;
                font-size: 2.6rem;
            }
        }
        .section__offer-slide-left {
            width: 100%;
            padding:2.4rem;
            max-width: none;
            .section__visit-left-form{
                margin-top: 2rem;
            }
    
    
        }
        .section__offer-slide-left-title {
            font-size: 2rem;
        }
        .section__offer-slide-left-subtitle {
            margin-top: 2rem;
        }
    
        .section__offer-slide-img {
            display: block;
            max-width: 32.6rem;
            height: 31.8rem;
            position:relative;
            right:auto;
            bottom:auto;
        }
      
        .section__offer-slide-left-title-small {
            color: var(--neutral-900, #111C27);
            font-size: 2.6rem;
        }
    }
    
}