
.section__whatdo-container {
    padding: 4.6rem 1.5rem;
    max-width: 116rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.section__whatdo-title {
    color: var(--neutral-700, #384450);
    font-family: 'Bebas Neue';
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 93%; /* 65.1px */

}
.section__whatdo-subtitle {
    color: var(--neutral-900, #111827);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    margin-top: 1.9rem;
    span{
        color: var(--primary-base-dark, #16A3D0);
    }
}
.section__whatdo-inner {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

}
.section__whatdo-item {
    display: flex;
    align-items: center;
    column-gap: 5.6rem;
    padding: 2.4rem;
    border-radius: 4.4rem;
    background: var(--gradients, linear-gradient(119deg, #DEEFFF 0%, #F9FAFB 96.64%));
    .section__video-slide {
        max-width: 30.4rem;
        border-radius: 2.4rem;
        height: 33.9rem;
        padding: 2.4rem;
    }



}


.section__whatdo-item-right {
    width: 100%;
    max-width: 44rem;

}
.section__whatdo-item-title {
    color: var(--neutral-900, #111827);
    font-family: 'Bebas Neue';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */ 
    span{
        color: var(--primary-base-dark, #16A3D0);
    }
}
.section__whatdo-item-name {
    margin-top: 2.7rem;
    color: var(--neutral-900, #111C27);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 20.4px */

}
.section__whatdo-item-text {
    margin-top: 2.4rem;
    color: var(--neutral-700, #384450);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 25.5px */
    max-width: 35rem;

}
.section__whatdo-item-reverse {
    justify-content: space-between;
    padding-left: 12.4rem;

}
@media(max-width:992px){
    .section__whatdo-item-reverse {
        justify-content: space-between;
        padding-left: 2.4rem;
    
    }
}
@media(max-width:576px){

    .section__whatdo-container {
        padding: 3rem 1.5rem;
        max-width: 116rem;
    }
    .section__whatdo-title {
        color: var(--neutral-700, #384450);
        font-size: 6rem;
    
    }
    .section__whatdo-subtitle {
        font-size: 1.7rem;
    }
    .section__whatdo-inner {
        margin-top: 7rem;
    
    }
    .section__whatdo-item {
        display: flex;
        flex-direction: column;
        align-items: center;
       row-gap: 2.7rem;
        padding: 2.4rem;
        padding-bottom: 4rem;
        border-radius: 2rem;
        padding-left: 2.4rem;
        .section__video-slide {
            max-width: none;
            margin-right: 0px; 
            width: 100%;
            border-radius: 2.4rem;
            height: 29.6rem;
            padding: 1.6rem;
        }
    
    
    
    }
    
    
    .section__whatdo-item-right {
        width: 100%;
        max-width: 44rem;
    
    }
    .section__whatdo-item-name {
        margin-top: 1.9rem;
    
    }
    .section__whatdo-item-text {
        margin-top: 1.2rem;
        max-width: none;
    
    }
    .section__whatdo-item-reverse {
        justify-content: space-between;
        flex-direction: column-reverse;
        padding-left: 2.4rem;
    
    }
}